@model List<SGEA.Models.ExtractoPago>

@{
    ViewBag.Title = "Extracto Pago";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Datatable/css")


<div class="page-title">
    <div class="col-lg-12" style="margin-left:10px;">
        <h1>Extracto de Pagos</h1>
    </div>
    <div class="title_right">
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
                <div class="form-group col-lg-12 col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:10px;">
                    @Html.Label("Curso", new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownList("Curso", (List<SelectListItem>)ViewBag.Cursos, new { @id = "CursoID", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                    </div>
                </div>

                <div class="form-group col-lg-8 col-md-8 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <button class="btn btn-primary"style="float:right" onclick="poblarGrilla()" >Buscar</button>
                </div>

                <div @*id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"*@>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Monto Pagaré</th>
                                        <th>Monto Pagado</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Monto Pagaré</th>
                                        <th>Monto Pagado</th>
                                        <th>Detalle</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="float:left;" type="button">Volver</a>
                                <button  class="btn btn-primary" style="float:left;" type="button" onclick="VerReporte()">Ver Reporte PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tableAlumnos = null;

        $(document).ready(function () {

            /******** SECCION GRILLA **********/
            tableAlumnos = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("PoblarGrillaExtractoPagos", "Inscripcion")",
                    "type": "POST",
                    "data": function (d) {
                        d.param1 = $('#CursoID').val();
                    }
                },
                "columns": [
                   { "data": "Cedula" },
                    { "data": "Nombres" },
                    { "data": "MontoStringPagare" },
                    { "data": "MontoStringPagado" },
                    {
                        "data": "AlumnoID",
                        "render": function (data, type, row) {
                            var url = "@Url.Action("ReportePDF","Inscripcion")?idAlumno=" + row.AlumnoID;
                            return "<a style='margin-left:10px;' href=\"" + url +"\" target=\"_blank\"><span class='fa fa-search'></span></a>";
                        }
                    }
                ],
                "drawCallback": function (settings) {

                }
            });
            /************** FIN SECCION GRILLA *******************/

        });

        function poblarGrilla() {
            tableAlumnos.ajax.reload();
        }

        function VerReporte() {
            window.open("@Url.Action("ReportePDFExtractos","Inscripcion")?idCurso=" + $('#CursoID').val());
        }

</script>
